<h1>Welcome Rails 4.2 Sample app</h1>
<br>
<h3>Web Console</h3>
<table>
  <tr><%= link_to('エラーページ', welcome_error_path) %></tr><br>
  <tr><%= link_to('マウント', '/console') %></tr><br>
  <tr><%= link_to('view内でconsole呼び出し', welcome_console_path) %></tr><br>
</table>
